@page "/"
@attribute [Authorize]

    <AuthorizeView >

        <Authorized>
            <div style="text-align:center;margin-top:50px;">

                <p><a href="/api">API 接wrwrw口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gitee.com/dotnetchina/Furion" target="_blank">源码地址</a></p>
            </div>
        </Authorized>

    </AuthorizeView>

