
    <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
        <MenuItem Key="主页">
           <NavLink  href="/">主页</NavLink>
        </MenuItem>
      <SubMenu Key="设备"  Title="设备">
          <MenuItem Key="设备列表">
              <NavLink href="/devices">设备列表</NavLink>
          </MenuItem>
      </SubMenu>
            <MenuItem Key="3">
                <span>设置</span>
            </MenuItem>
    </Menu>

@code {

    
}
